@page "/Ofertas/CrearOferta"

@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@inject AppForHerramientasAPIClient apiclient
@inject ILogger<CrearOferta> logger
@inject OfertasStateContainer ofertasState

<h3>Crear Oferta</h3>

<EditForm Model="oferta" OnValidSubmit="OpenDialog">
    <div class="row">

        <div class="col-md">
            <div class="form-floating">
                @*Este boton se usa para preguntar al usuario si quiere proceder con la creación de ofertas*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Crea la oferta de tus herramientas
                </button>
            </div>
        </div>
    </div>
</EditForm>

@* modal popup para comprobar si el usuario quiere proceder a crear la oferta *@
@if (DialogIsOpen)
{
    <Dialog Caption="Crear ofertas"
    Message="¿Quieres proceder a crear la oferta?"
    OnClose="@OnDialogClose"
    Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private bool DialogIsOpen;

    private CrearOfertaDTO oferta => ofertasState.Oferta;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {
        DialogIsOpen = false;
        if (isOk)
        {
            //Procesar la información introducida por el usuario si es válida
        }
    }
}
